<h2>Add Photographer to Database</h2>

<form action="/photographer_to_database">
  
  <input type="text" placeholder="Photographer Name" name="photographer[name]">
  <input type="text" placeholder="Camera type used" name="photographer[cameratype]">  
  <input type="text" placeholder="Employer" name="photographer[employer]">
  
  <button type="submit">Add Photographer</button>
</form>

<p><a href='/home'>Go to Home Page</a></p>