<h2>Add Photographer to Database</h2>

<form action="/add-to-bridge-table">
  
  <select name="album[id]">
    <% @album.each do |p| %>
      <option value="<%= p.id %>"><%= p.title %></option>
    <% end %>
  </select>
  
  <select name="photo[id]">
    <% @photo.each do |p| %>
      <option value="<%= p.id %>"><%= p.title %></option>
    <% end %>
  </select>
  
</form>

<p><a href='/home'>Go to Home Page</a></p>