<!doctype html>
<html>
  
  <head>
    <title>ActiveRecord Atomics</title>
    <link rel='stylesheet' href="/global.css">
  </head>
  <body>
    <header>
      <p><a href="/logout">Logout</a></p>
    </header>
    
    <%= yield %>
    
  </body>
    <script type='text/javascript' src="/global.js"></script>
</html>