<h2>Photos in Albums Menu</h2>

<ul>
  <li><a href='/albumphoto-view-album'>View Photos in Albums</a></li>
  <li><a href='/albumphoto-add'>Add Photos to Albums</a></li>
  <li><a href='/albumphoto-view-top-photos'>View Top Photos</a></li>
  <li><a href='/albumphoto-delete'>Delete Photo/Album Combinations</a></li>  
</ul>

<p><a href='/home'>Go to Home Page</a></p>