<h2>Photos in Albums Menu</h2>

<p><a href='/albumphoto-view'></a>View Photos in Albums</p>
<p><a href='/albumphoto-add'></a>Add Photos to Albums</p>
<p><a href='/albumphoto-edit'></a>Edit Photo/Album Combinations</p>
<p><a href='/albumphoto-delete'></a>Delete Photo/Album Combinations</p>

<p><a href='/home'></a>Go to Home Page</p>