<h2>Album Menu</h2>

<p><a href='/album-view'></a>View Albums</p>
<p><a href='/album-add'></a>Add Album</p>
<p><a href='/album-edit'></a>Edit Album</p>
<p><a href='/album-delete'></a>Delete Album</p>

<p><a href='/home'></a>Go to Home Page</p>