<h2>Photos in Albums Menu</h2>

<p><a href='/albumphoto-view'>View Photos in Albums</a></p>
<p><a href='/albumphoto-add'>Add Photos to Albums</a></p>
<p><a href='/albumphoto-edit'>Edit Photo/Album Combinations</a></p>
<p><a href='/albumphoto-delete'>Delete Photo/Album Combinations</a></p>

<p><a href='/home'>Go to Home Page</a></p>