<h2>Album Menu</h2>

<p><a href='/album-view'>View Albums</a></p>
<p><a href='/album-add'>Add Album</a></p>
<p><a href='/album-edit'>Edit Album</a></p>
<p><a href='/album-delete'>Delete Album</a></p>

<p><a href='/home'>Go to Home Page</a></p>