<h2>Album Menu</h2>

<ul>
 <li><a href='/album-view'>View Albums</a></li>
 <li><a href='/album-add'>Add Album</a></li>
 <li><a href='/album-edit'>Edit Album</a></li>
 <li><a href='/album-delete'>Delete Album</a></li>  
</ul>

<p><a href='/home'>Go to Home Page</a></p>