<h2>Photography Manager</h2>

<ul>
  <li><a href='/photographer-main'>Photographers</a></li>
  <li><a href='/photo-main'>Photos</a></li>
  <li><a href='/album-main'>Albums</a></li>
  <li><a href='/albumphoto-main'>Photos in Albums</a></li>
</ul>

