<h2>Photography Manager</h2>

<p><a href='/photographer-main'>Photographers</a></p>
<p><a href='/photo-main'>Photos</a></p>
<p><a href='/album-main'>Albums</a></p>
<p><a href='/album-photo-main'>Photos in Albums</a></p>
