<h2>Photography Manager</h2>

<p><a href='/photographer-main'></a>Photographers</p>
<p><a href='/photo-main'></a>Photos</p>
<p><a href='/album-main'></a>Albums</p>
<p><a href='/album-photo-main'></a>Photos in Albums</p>
