<h2>Login Page</h2>

<form action="logintype">
  <input type='radio' name='login' value='login[new_user]'>New User<br>
  <input type='radio' name='login' value='login[existing_user]'>Existing User<br>
  
  <button type="submit">Next page</button>
</form>