<h2>User Log in</h2>


<% if @errors.length > 0 %>
  <p><%= @errors %></p>  
<% end %>


<form action='/login-validation'>
  
  <input type='text' placeholder='User Name' name="login[username]">
  <input type='text' placeholder='Password' name="login[password]">
  
  <button type="Submit">Log In</button>
  
</form>