<h2>Photo Menu</h2>

<ul>
  <li><a href='/photo-view'>View Photos</a></li>
  <li><a href='/photo-add'>Add Photo</a></li>
  <li><a href='/photo-edit'>Edit Photo</a></li>
  <li><a href='/photo-delete'>Delete Photo</a></li>
</ul>


<p><a href='/home'>Go to Home Page</a></p>