<h2>Photo Menu</h2>

<p><a href='/photo-view'></a>View Photos</p>
<p><a href='/photo-add'></a>Add Photo</p>
<p><a href='/photo-edit'></a>Edit Photo</p>
<p><a href='/photo-delete'></a>Delete Photo</p>

<p><a href='/home'></a>Go to Home Page</p>