<h2>Photo Menu</h2>

<p><a href='/photo-view'>View Photos</a></p>
<p><a href='/photo-add'>Add Photo</a></p>
<p><a href='/photo-edit'>Edit Photo</a></p>
<p><a href='/photo-delete'>Delete Photo</a></p>

<p><a href='/home'>Go to Home Page</a></p>