<h2>Photographer Menu</h2>

<ul>
  <li><a href='/photographer-view'>View Photographers</a></li>
  <li><a href='/photographer-add'>Add Photographer</a></li>
  <li><a href='/photographer-edit'>Edit Photographer</a></li>
  <li><a href='/photographer-delete'>Delete Photographer</a></li> 
</ul>


<p><a href='/home'>Go to Home Page</a></p>