<h2>Photographer Menu</h2>

<p><a href='/photographer-view'></a>View Photographers</p>
<p><a href='/photographer-add'></a>Add Photographer</p>
<p><a href='/photographer-edit'></a>Edit Photographer</p>
<p><a href='/photographer-delete'></a>Delete Photographer</p>

<p><a href='/home'></a>Go to Home Page</p>