<h2>Add Photo to Database</h2>

<form action="/photo_to_database">
  
  <input type="text" placeholder="Photo Title" name="photo[title]">
 
  <select name="photographer[id]">
    <% @photographer.each do |p| %>
      <option value="<%= p.id %>"><%= p.name %></option>
    <% end %>
  </select> 

  
  <button type="submit">Add Photo</button>
</form>

<p><a href='/home'>Go to Home Page</a></p>