<h2>Delete Photo</h2>

<form action="/photo-delete-action">
  <select name="photo[id]">
    <% @photo.each do |p| %>
      <option value="<%= p.id %>"><%= p.title %></option>
    <% end %>
  </select>
  
  <button type="submit">Delete Photo</button>
</form>
<p><a href='/home'>Go to Home Page</a></p>