<h2>Change Photographer</h2>

<form action="/edit_photo_in_database">
  
  <select name="photo[id]">
    <% @photo.each do |p| %>
      <option value="<%= p.id %>"><%= p.name %></option>
    <% end %>
  </select>
    
  <input type="text" placeholder="Photo Title" name="photo[title]">

  <select name="photo[photographer_id]">
    <% @photographer.each do |p| %>
      <option value="<%= p.id %>"><%= p.name %></option>
    <% end %>
  </select>

  <button type="submit">Add Photographer</button>
</form>

<p><a href='/home'>Go to Home Page</a></p>