<h2>View Photos</h2>

<ul>
  <% @photo.each do |p| %>
    <% if @top_photo_list.include?(p.id) %>
      <li><%= p.title %> - <%= p.photographer_id %><img src='/top_star.png' alt='top photo star' class='topphotopic'></img></li>
    <% else %>
      <li><%= p.title %> - <%= p.photographer_id %></li>
    <% end %>
  <% end %>
</ul

<p><a href='/home'>Go to Home Page</a></p>