<h2>Add Album to Database</h2>

<form action="/album-to-database">
  
  <input type="text" placeholder="Album Title" name="album[title]">
  
  <button type="submit">Add Album</button>
</form>

<p><a href='/home'>Go to Home Page</a></p>