<h2>Delete Album</h2>

<form action="/album-delete-action">
  <select name="album[id]">
    <% @album.each do |p| %>
      <option value="<%= p.id %>"><%= p.title %></option>
    <% end %>
  </select>
  
  <button type="submit">Delete Album</button>
</form>
<p><a href='/home'>Go to Home Page</a></p>