<h2>Change Album Title</h2>

<form action="/edit_album_in_database">
  
  <select name="album[id]">
    <% @album.each do |p| %>
      <option value="<%= p.id %>"><%= p.title %></option>
    <% end %>
  </select>
    
  <input type="text" placeholder="Album Title" name="album[title]">

  <button type="submit">Edit Album</button>
</form>

<p><a href='/home'>Go to Home Page</a></p>